<% if !defined? @books %>
    <span>There were no results for your query</span><br/><br/>
<% else %>
    <h2>Results:</h2>

    <table cellspacing="10">

<%  @books.each do |book| %>
    <tr>
      <td>
    <img src="http://covers.librarything.com/devkey/<%= @devkey %>/medium/isbn/<%= book[:isbn] %>" /> 
    </td>
    <td>
    <strong>Title:</strong> <%= book[:title] %> <br />
    <strong>Author:</strong> <%= book[:author]  %> <br />
    <strong>Review Pages:</strong> <%= book[:reviewpages] %>  <br />
    <strong>Total Reviews:</strong> <%= book[:reviewcount] %> <br />
    <strong>Rating:</strong> <%= book[:reviewrating] %> <br />
    <strong>Rank:</strong> <%= book[:salesrank] %> <br />
    <strong>Published on:</strong> <%= book[:pubdate] %> <br />
    <strong>Price:</strong> <%= book[:price] %> <br />
    <strong>ISBN:</strong> <%= book[:isbn] %>
    </td>
    </tr>
<% end %>

    </table>

<% end %>
